*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: $fs-2;
    font-weight: $fw-4;
    line-height: $line-height-0;
    color: $color-black-3;
    text-rendering: optimizeLegibility;
}